*{margin: 0;padding: 0;}

/*------------------------Background----------------------------------------------------------*/

.background{
    background-color: black;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, black,pink);
    animation: animation_background 4s infinite;
    background-size: 200% 200%;
}

@keyframes animation_background {
    0%{background-position: 0% 50%;}
    50%{background-position: 50% 100%;}
    100%{background-position: 0% 50%;}
}


/*-------------------------------------Profile pic---------------------------------------------*/


.profile{
    width: 400px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.profile img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in;
}

.profile:hover img{
    opacity: 0.5;
    transform: scale(1.1);
}

/*-----------------------------------------------Reseaux--------------------------------------------------*/ 

@keyframes animation_bouton {
    0%{border-color: pink}
    50%{border-color:palevioletred }
    100%{border-color: white}
}

.bouton{
    font-size: 1200%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    color: rgb(30, 6, 6);
    background-color: transparent ;
    animation: animation_bouton 4s infinite;
    transition: 0.4s ease-in;
}

.reseaux{
    margin-left: 10%;
    margin-right:10%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.bouton:hover{
        transform: scale(1.2);
}