*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: honeydew;
}

button{
    height: 100px;
    width: 100px;
    font-size: 80px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    border: 3px solid #fff;
    outline: none;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.first{
    background: palevioletred;
    left: 25%;
    box-shadow: 0 0 0 0 palevioletred;
}

.first:focus{
    box-shadow: 0 0 0 2000px palevioletred;

}

.second{
    background: rgb(112, 169, 216);
    left: 50%;
    box-shadow: 0 0 0 0 rgb(112, 169, 216);
}

.second:focus{
    box-shadow: 0 0 0 2000px rgb(112, 169, 216);

}

.third{
    background: rgb(136, 216, 112);
    left: 75%;
    box-shadow: 0 0 0 0 rgb(136, 216, 112);
}

.third:focus{
    box-shadow: 0 0 0 2000px rgb(136, 216, 112);

}